<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>

<body>
    <h1 id="about-name">Gavin Seaton</h1>
    <img id="about-image" src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile Picture">
    <p id="about-description">I'm a student in the Info3180 course at the University of West Indies with a passion for data science and analytics.</p>

</body>

</html>